<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ExeFile" value="C:\Work\migrationTools\Runner.Console\bin\Debug\Runner.Console.exe"/>
    <add key="Args" value="" />
    <!-- <add key="ExeFile" value="c:\temp\migrator\AbsorbLMS.Acquisitions.Migrator.exe"/> -->
    <!-- <add key="Args" value="-csv c:\temp\Migrator_A.csv"/> -->
  </appSettings>
</configuration>