<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ReleaseMode" value="Development"/>
		<add key="DevServer" value="Data Source=(local);Initial Catalog=Absorb-Global;Integrated Security=SSPI;"/>
		<add key="ProdServer" value="Data Source=(local);Initial Catalog=Absorb-Global;Integrated Security=SSPI;"/>
	</appSettings>
</configuration>